<%= form_with model: @subcategory, local: true do |form| %>

  <% if @subcategory.errors.any? %>
    <div class="error-explanation">
      <%= pluralize(@subcategory.errors.count, "error") %> prohibited
      this subcategory from being saved:
      <ul>
        <% @subcategory.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>
  <p>
    <%= form.label 'Category' %>
    <%= form.collection_select(:category_id, Category.all, :id, :name, :prompt => 'Select') %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>
