<table>
  <tr>
    <th>Name</th>
    <td><%= @subcategory.name %></td>
  </tr>
  <tr>
    <th>Subcategory of</th>
    <td><%= link_to @subcategory.category.name, category_path(@subcategory.category) %></td>
  </tr>
</table>
