<h2>Subcategories</h2>

<%= render 'flash', key: :success %>

<p>
  <% if Mode.demo? %>
    <%= link_to 'Add new subcategory', subcategories_path,
      data: { confirm: 'Adding is not available in demo mode.' } %>
  <% else %>
    <%= link_to 'Add new subcategory', new_subcategory_path %>
  <% end %>
</p>

<div class="filter-area">
  <%= render 'transactions/dates' %>
</div>

<table>
  <tr>
    <th>Subcategory</th>
    <th>Net activity</th>
  </tr>

  <% @subcategories.each do |subcategory| %>
    <tr>
      <td><%= link_to subcategory.name, subcategory_path(subcategory) %></td>

      <td class="amount
      <%= 'decrease' if (@nets[subcategory.id] < 0) %>">
        <%= number_to_currency(@nets[subcategory.id], unit: CURRENCY_SIGN) %>
      </td>
    </tr>
  <% end %>
</table>
