<h2>Subcategory info</h2>

<%= render 'flash', key: :error %>

<%= render 'subcategory' %>

<p>
  <%= link_to 'Previous', subcategory_path(@subcategory.previous) %> |
  <%= link_to 'Next', subcategory_path(@subcategory.next) %> |
  <% if Mode.demo? %>
    <%= link_to 'Edit', subcategory_path(@subcategory),
      data: {confirm: 'Editing is not available in demo mode'} %> |
    <%= link_to 'Delete', subcategory_path(@subcategory),
      data: { confirm: 'Deleting is not available in demo mode' } %>
  <% else %>
    <%= link_to 'Edit', edit_subcategory_path(@subcategory) %> |
    <%= link_to 'Delete', subcategory_path(@subcategory), data: {
      turbo_method: :delete, turbo_confirm: 'Are you sure?'
    } %>
  <% end %>
</p>

<h3>Transactions involving this subcategory</h3>

<%= render 'transactions/filters' %>

<%= render 'transactions/summary', content: [['Count', @count],
                                             ['Income', @income],
                                             ['Expenses', @expenses],
                                             ['Net', @net]] %>

<%= render 'transactions/table' %>
