<% demo = ENV["BALANCE_DEMO"].present? %>

<div class="description-area">

<h1><%= Mode.demo? ? "Balance (Demo)" : "Balance" %></h1>

<p>A simple personal accounting application which allows you to:</p>

<ul>
  <li>Create accounts</li>
  <li>Record transactions between accounts</li>
  <li>Create categories and subcategories</li>
  <li>View transaction activity by account, by category and subcategory</li>
  <li>View account balances and net worth</li>
</ul>

<p>The source code is available at:
  <a target="_blank" href="https://gitlab.com/jeremysarchet/balance">
    https://gitlab.com/jeremysarchet/balance</a></p>

<h2>Transactions</h2>

<p>A transaction is a movement of money <strong>from</strong> one account and
  <strong>to</strong> another account with the following attributes:</p>

<ul>
  <li><strong>Date</strong></li>
  <li><strong>Amount</strong> – a non-negative quantity of dollars and cents</li>
  <li><strong>Description</strong> – a short phrase or sentence describing the
    transaction</li>
  <li><strong>Sender</strong> – the account the money comes from</li>
  <li><strong>Receiver</strong> – the account the money goes to</li>
  <li><strong>Category</strong></li>
  <li><strong>Subcategory (optional)</strong></li>
</ul>

<p>Every transaction must come out of one account and go into another. In this
  way, money can't just appear or disappear. This is in keeping with the
  principle of double-entry bookkeeping.</p>

<h3>The three types of transactions</h3>

<p>A transaction can be distinguished based on how it affects your net
  worth:</p>

<ul>
  <li>Increase (shown in black)
    <ul>
      <li>Any transaction that represents <strong>income</strong>.</li>
      <li>It comes <strong>from</strong> an external account and goes
        <strong>to</strong> an owned account.</li>
      <li>E.g. a paycheck from your employer to your checking account.</li>
    </ul>

  </li>
  <li>Decrease <span class="decrease">(shown in red)</span>
    <ul>
      <li>Any transaction that represents an <strong>expense</strong>.</li>
      <li>It comes <strong>from</strong> an owned account and goes
        <strong>to</strong> an external account.</li>
        <li>E.g. a puchase of groceries from your credit card.</li>
    </ul>
  </li>
  <li>Neutral <span class="neutral">(shown in grey)</span>
    <ul>
      <li>Any transaction that is <strong>neither</strong> income nor an expense.</li>
      <li>It comes <strong>from</strong> one owned account and goes
        <strong>to</strong> another owned account.</li>
      <li>E.g. a transfer from your checking account to your savings account.</li>
    </ul>
  </ul>

<h2>Accounts</h2>

<p>An account is a sender and/or receiver of transactions with the following
  attributes:<p>

<ul>
  <li><strong>An account name</strong></li>
  <li><strong>Whether the account is owned or not</strong> – if the account is
    owned, such as a savings account, it represents a wealth container and
    contributes to your net worth. Otherwise it is not owned and is considered
    an external account representing income and/or expenses.</li>
  <li><strong>Whether the account is a retirement account or not</strong> –
    non-retirement accounts are broken out and presented separately from
    retirement accounts.</li>
  <li><strong>An initial value</strong> – For owned accounts, the current
    balance is determined from this initial value plus all the inputs and
    outputs for that account.
  </li>
  <li><strong>When the account was last reconciled</strong> – A date you can set
     indicating the last time all the transactions were updated and the balance
    confirmed.
  </li>
</ul>

<h2>Categories and subcategories</h2>

<p>A category and optional subcategory are properties of a transaction and
  provide a way to classify and group transactions. A given category can contain
  multiple subcategories.</p>

<h2>Balances</h2>

<p>If an account is owned by you then it represents a wealth container and it is
  important to know the current balance of that account. The balance is
  computed as follows:</p>

<pre>balance = initial value + inputs - outputs</pre>

<p>Since your recorded transactions likely don't go back all the way in time to
  when you first opened the account, you can set an initial value for the
  account which represents the balance before you started recording transactions.
  Then the computed balance should match with your account's real-world balance,
  e.g. from your bank statement. From this point forward, by tracking every
  transaction you have all the subsequent inputs and outputs from that account,
  which serves as a helpful cross-check for catching any mistakes or errors.</p>

<p>Finally, taking the sum of all the balances of all accounts you own gives
  your net worth.</p>

<hr>
<p>App last updated on 2022-05-08</p>

</div>
