/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  margin: 1em;
  font-size: 90%;
}
h1, h2, h3, h4 {
  font-family: Georgia, serif;
  color: #222;
  font-weight: normal;
}
.description-area h1, h2 {
  border-bottom: 1px solid #bbb;
}
p, table, ul, label {
  color: #444;
  font-family: Helvetica, sans-serif;
  line-height: 1.5em;
}
table {
  margin-top: 1em;
  border-collapse: collapse;
  color: #444;
}
th {
  font-weight: normal;
  background-color:#efefef;
}
.asc::after {
  /* content: " \25B4"; */
  content: " \25B2";
}
.desc:after {
  /* content: " \25BE" */
  content: " \25BC"
}
td {
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.transactions-table td {
  max-width: 180px;
}
.transaction-details td {
  max-width: 500px;
}
th, td {
  text-align: left;
  padding: 0.25em 0.5em;
  border: 1px solid #ddd;
}
a {
  color: #27d;
}
table a {
  text-decoration: none;
}
table a:hover {
  text-decoration: underline;
}
a:visited {
  color: #27d;
}
th a {
  color: black;
}
th a:hover {
  text-decoration: none;
}
th a:visited {
  color: black;
}
.amount {
  text-align: right;
}
.decrease {
  color: #e24;
}
.neutral {
  color: lightgrey;
}
.filter-area {
  display: table;
  border-collapse: collapse;
  margin: 1em 0em;
}
.filter-form {
  display: table-cell;
  background-color: #eee;
  border: 1px solid #ddd;
  padding: 1em;
  vertical-align: middle;
}
.summary-area {
  margin: 1em 0em;
}
.description-area {
  width: 600px;
}
pre {
  padding: 1.5em;
  font-weight: bold;
  background-color:#efefef;
  border-radius: 5px;
  border: 1px solid #ddd;
}
.error-explanation, .success-explanation {
  display: inline-block;
  font-family: monospace;
  padding: 0.75em;
  border-radius: 5px;
}
.error-explanation li, .success-explanation li {
  font-family: monospace;
}
.error-explanation {
  background-color: #fee;
  border: 1px solid red;
  color: red;
}
.success-explanation {
  background-color: #efe;
  border: 1px solid green;
  color: green;
}
