<%= form_with model: @category, local: true do |form| %>

  <% if @category.errors.any? %>
    <div class="error-explanation">
      <%= pluralize(@category.errors.count, "error") %> prohibited
      this category from being saved:
      <ul>
        <% @category.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>
