<h2>Categories</h2>

<%= render 'flash', key: :success %>

<p>
  <% if Mode.demo? %>
    <%= link_to 'Add new category', categories_path,
      data: { confirm: 'Adding is not available in demo mode.' } %>
  <% else %>
    <%= link_to 'Add new category', new_category_path %>
  <% end %>
</p>

<div class="filter-area">
  <%= render 'transactions/dates' %>
</div>

<table>
  <tr>
    <th>Category</th>
    <th>Net activity</br>(for date range)</th>
  </tr>

  <% @categories.each do |category| %>
    <tr>
      <td><%= link_to category.name, category_path(category) %></td>

      <td class="amount
      <%= 'decrease' if (@nets[category.id] < 0) %>">
        <%= number_to_currency(@nets[category.id], unit: CURRENCY_SIGN) %>
      </td>
    </tr>
  <% end %>
</table>
