<h2>Category info</h2>

<%= render 'flash', key: :error %>

<%= render 'category' %>

<p>
  <%= link_to 'Previous', category_path(@category.previous) %> |
  <%= link_to 'Next', category_path(@category.next) %> |
  <% if Mode.demo? %>
    <%= link_to 'Edit', category_path(@category),
      data: {confirm: "Editing is not available in demo mode"} %> |
    <%= link_to 'Delete', category_path(@category),
      data: { confirm: 'Deleting is not available in demo mode' } %>
  <% else %>
    <%= link_to 'Edit', edit_category_path(@category) %> |
    <%= link_to 'Delete', category_path(@category), data: {
      turbo_method: :delete, turbo_confirm: 'Are you sure?'
    } %>
  <% end %>
</p>

<% if @category.subcategories.count > 0 %>
  <h3>Subcategories in this category</h3>
<% end %>

<ul>
<% @category.subcategories.order("name").each do |subcategory| %>
  <li><%= link_to subcategory.name, subcategory_path(subcategory) %></li>
<% end %>
</ul>

<h3>Transactions involving this catetory</h3>

<%= render 'transactions/filters' %>

<%= render 'transactions/summary', content: [['Count', @count],
                                             ['Income', @income],
                                             ['Expenses', @expenses],
                                             ['Net', @net]] %>

<%= render 'transactions/table' %>
