<%= form_tag nil, {:method => 'get', :class => 'filter-form'} do %>
  <% request.query_parameters.except(:start_date, :end_date).each do |key, value| %>
    <%= hidden_field_tag key, value %>
  <% end %>

  <%= label_tag :start_date %>
  <%= date_field_tag :start_date, params[:start_date] %>

  <%= label_tag :end_date %>
  <%= date_field_tag :end_date, params[:end_date] %>

  <%= submit_tag "Go", :name => nil %>
<% end %>
