<%= form_with model: @transaction, local: true do |form| %>

  <% if @transaction.errors.any? %>
    <div class="error-explanation">
      <%= pluralize(@transaction.errors.count, "error") %> prohibited
      this transaction from being saved:
      <ul>
        <% @transaction.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :date %><br>
    <%= form.date_field :date %>
  </p>
  <p>
    <%= form.label :amount %><br>
    <%= form.number_field( :amount, min: 0.01, step: 0.01) %>
  </p>
  <p>
    <%= form.label :description %><br>
    <%= form.text_field :description %>
  </p>
  <p>
    <%= form.label 'From' %>
    <%= form.collection_select(:sender_id, Account.order(name: :asc).all, :id, :name, :prompt => 'Select') %>
  </p>
  <p>
    <%= form.label 'To' %>
    <%= form.collection_select(:receiver_id, Account.order(name: :asc).all, :id, :name, :prompt => 'Select') %>
  </p>
  <p>
    <%= form.label 'Category' %>
    <%= form.collection_select(:category_id, Category.order(name: :asc).all, :id, :name, :prompt => 'Select') %>
  </p>
  <p>
    <%= form.label 'Subcategory' %>
    <%= form.collection_select(:subcategory_id, Subcategory.order(name: :asc).all, :id, :name, :prompt => 'Select') %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>
