<table>
  <tr>
    <th>Date:</th>
    <td><%= @transaction.date %></td>
  </tr>
  <tr>
    <th>Amount:</th>
    <td><%= number_to_currency(@transaction.amount, unit: CURRENCY_SIGN) %></td>
  </tr>
  <tr>
    <th>Description:</th>
    <td><%= @transaction.description %></td>
  </tr>
  <tr>
    <th>From:</th>
    <td><%= link_to @transaction.sender.name, @transaction.sender %></td>
  </tr>
  <tr>
    <th>To:</th>
    <td><%= link_to @transaction.receiver.name, @transaction.receiver %></td>
  </tr>
</table>
