<%= form_tag nil, {:method => 'get', :class => 'filter-form'} do %>
  <% request.query_parameters.except(:search).each do |key, value| %>
    <%= hidden_field_tag key, value %>
  <% end %>

  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search", :name => nil %>
<% end %>
