<div class="summary-area">
  <table>
    <tr>
      <th><%= content[0][0] %></th>
      <td class="amount"><%= content[0][1] %></td>
    </tr>
    <tr>
      <th><%= content[1][0] %></th>
      <td class="amount" ><%= number_to_currency(content[1][1], unit: CURRENCY_SIGN) %></td>
    </tr>
    <tr>
      <th><%= content[2][0] %></th>
      <td class="amount decrease" ><%= number_to_currency(content[2][1], unit: CURRENCY_SIGN) %></td>
    </tr>
    <tr>
      <th><%= content[3][0] %></th>

      <td class="amount
      <%= 'decrease' if (content[3][1] < 0) %>">
        <%= number_to_currency(content[3][1], unit: CURRENCY_SIGN) %>
      </td>

    </tr>
  </table>
</div>
