<table class='transactions-table'>
  <tr>
    <th><%= sortable "date" %></th>
    <th><%= sortable "amount" %></th>
    <th><%= sortable "description" %></th>
    <th><%= sortable "sender", "From" %></th>
    <th><%= sortable "receiver", "To" %></th>

    <% unless controller_name == 'categories' %>
      <th><%= sortable "category" %></th>
    <% end %>

    <% unless controller_name == 'subcategories' %>
      <th><%= sortable "subcategory" %></th>
    <% end %>

    <th></th>
  </tr>

  <% @transactions.each do |transaction| %>
    <tr>
      <td><%= transaction.date %></td>
      <td class="amount
      <%= 'decrease' if (!transaction.receiver.owned) %>
      <%= 'neutral' if (transaction.sender.owned) && (transaction.receiver.owned) %>">
        <%= number_to_currency(transaction.amount, unit: CURRENCY_SIGN) %>
      </td>
      <td><%= transaction.description %></td>

      <% if defined?(account) %>
        <td><%= transaction.sender != account ? link_to(transaction.sender.name, account_path(transaction.sender)) : "–" %></td>
        <td><%= transaction.receiver != account ? link_to(transaction.receiver.name, account_path(transaction.receiver)) : "–" %></td>
      <% else %>
        <td><%= link_to transaction.sender.name, account_path(transaction.sender) %></td>
        <td><%= link_to transaction.receiver.name, account_path(transaction.receiver) %></td>
      <% end %>

      <% unless controller_name == 'categories' %>
        <td><%= link_to transaction.category.name, category_path(transaction.category) %></td>
      <% end %>

      <% unless controller_name == 'subcategories' %>
        <td><%= link_to transaction.subcategory.name, subcategory_path(transaction.subcategory) if transaction.subcategory%></td>
      <% end %>

      <td><%= link_to 'Info', transaction_path(transaction) %></td>
    </tr>
  <% end %>
</table>
