<table class="transaction-details">
  <tr>
    <th>Date</th>
    <td><%= @transaction.date %></td>
  </tr>
  <tr>
    <th>Amount</th>
    <td class="
    <%= 'decrease' if (!@transaction.receiver.owned) %>
    <%= 'neutral' if (@transaction.sender.owned) && (@transaction.receiver.owned) %>">
      <%= number_to_currency(@transaction.amount, unit: CURRENCY_SIGN) %>
    </td>
  </tr>
  <tr>
    <th>Description</th>
    <td><%= @transaction.description %></td>
  </tr>
  <tr>
    <th>From</th>
    <td><%= link_to @transaction.sender.name, @transaction.sender %></td>
  </tr>
  <tr>
    <th>To</th>
    <td><%= link_to @transaction.receiver.name, @transaction.receiver %></td>
  </tr>
  <tr>
    <th>Category</th>
    <td><%= link_to @transaction.category.name, @transaction.category %></td>
  </tr>
  <tr>
    <th>Subcategory</th>
    <td>
      <%= link_to @transaction.subcategory.name, subcategory_path(@transaction.subcategory) if @transaction.subcategory %>
    </td>
  </tr>
</table>

<p>
  <% if Mode.demo? %>
    <%= link_to 'Add new transaction', nil,
      data: { confirm: 'Adding is not available in demo mode.' } %>
  <% else %>
    <%= link_to 'Add new transaction', new_transaction_path %>
  <% end %>
</p>
