<h2>Transactions</h2>

<%= render 'flash', key: :success %>

<p>
  <% if Mode.demo? %>
    <%= link_to 'Add new transaction', transactions_path,
      data: { confirm: 'Adding is not available in demo mode.' } %> |
    <%= link_to 'Import', transactions_path,
      data: { confirm: 'Importing is not available in demo mode.' }%> |
  <% else %>
    <%= link_to 'Add new transaction', new_transaction_path %> |
    <%= link_to 'Import', '/transactions/upload' %> |
  <% end %>
  <%= link_to 'Download all', '/transactions.csv' %>
</p>

<%= render 'filters' %>

<%= render 'summary', content: [['Count', @count],
                                ['Income', @income],
                                ['Expenses', @expenses],
                                ['Net', @net]] %>

<%= render 'table' %>
