<h2>Transaction info</h2>

<%= render 'transaction' %>

<p>
  <%= link_to 'Previous', transaction_path(@transaction.previous) %> |
  <%= link_to 'Next', transaction_path(@transaction.next) %> |

  <% if Mode.demo? %>
    <%= link_to 'Edit', transaction_path(@transaction),
      data: { confirm: 'Editing is not available in demo mode' } %> |
    <%= link_to 'Delete', transaction_path(@transaction),
      data: { confirm: 'Deleting is not available in demo mode' } %>
  <% else %>
    <%= link_to 'Edit', edit_transaction_path(@transaction) %> |
    <%= link_to 'Delete', transaction_path(@transaction), data: {
      turbo_method: :delete, turbo_confirm: 'Are you sure?'
    } %>
  <% end %>


</p>
