<h2>Import transaction data from CSV</h2>

<%= form_tag import_transactions_path, {:multipart => true, :class => 'filter-form'} do %>
  <%= flash[:notice] %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>

<p>
  <%= link_to 'Back', transactions_path %>
</p>
