<p>
  <%= link_to 'Balances', accounts_balances_path %> |
  <%= link_to 'Transactions', transactions_path %> |
  <%= link_to 'Accounts', accounts_path %> |
  <%= link_to 'Categories', categories_path %>  |
  <%= link_to 'About', welcome_index_path %>
</p>
