<table>
  <tr>
    <th>Name</th>
    <td><%= @account.name %></td>
  </tr>
  <tr>
    <th>Owned by me?</th>
    <td><%= @account.owned %></td>
  </tr>
  <tr>
    <th>Retirement account?</th>
    <td><%= @account.retirement %></td>
  </tr>
  <tr>
    <th>Initial value</th>
    <% if @account.owned %>
      <td class="amount" ><%= number_to_currency(@account.initial, unit: CURRENCY_SIGN) %></td>
    <% else %>
      <td>N/A</td>
    <% end %>
  </tr>
  <tr>
    <th>Reconciled on</th>
    <% if @account.reconciled_on %>
      <td><%= @account.reconciled_on %></td>
    <% else %>
      <td>nil</td>
    <% end %>
  </tr>
</table>

<table>
  <tr>
    <th>Balance</th>
    <td class="amount <%= 'decrease' if (@account.balance < 0) %>">
      <%= number_to_currency(@account.balance, unit: CURRENCY_SIGN) %>
    </td>
  </tr>
  <tr>
    <th>Last reconciled</th>
    <td><%= render 'reconciled', account: @account %></td>
  </tr>
</table>
