<% unless accounts.empty? %>
  <table>
      <tr>
        <th>
          <%= defined?(header) ? header : 'Account' %>
        </th>
        <th>Net activity</br>(for date range)</th>
      </tr>

      <% accounts.each do |account| %>
        <tr>
          <td><%= link_to account.name, account_path(account) %></td>

          <td class="amount
          <%= 'decrease' if (nets[account.id] < 0) %>">
          <%= number_to_currency(nets[account.id], unit: CURRENCY_SIGN) %>
          </td>
        </tr>
      <% end %>
  </table>
<% end %>
