<table>
  <tr>
    <th>Account</th>
    <th>Balance</th>
    <th>Last reconciled</th>
  </tr>

  <% total = 0 %>
  <% accounts.each do |account| %>
  <% total += account.balance %>
    <tr>
      <td><%= link_to account.name, account_path(account) %></td>
      <td class="amount <%= 'decrease' if (account.balance < 0) %>">
        <%= number_to_currency(account.balance, unit: CURRENCY_SIGN) %>
      </td>
      <td><%= render 'reconciled', account: account%></td>
    </tr>
  <% end %>

  <tr>
    <th>Total</th>
    <th class="amount <%= 'decrease' if (total < 0) %>">
      <%= number_to_currency(total, unit: CURRENCY_SIGN) %>
    </th>
  </tr>
</table>
