<%= form_with model: @account, local: true do |form| %>

  <% if @account.errors.any? %>
    <div class="error-explanation">
      <%= pluralize(@account.errors.count, "error") %> prohibited
      this account from being saved:
      <ul>
        <% @account.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>
  <p>
    <%= form.label :owned %><br>
    <%= form.check_box :owned %>
  </p>
  <p>
    <%= form.label :retirement %><br>
    <%= form.check_box :retirement %>
  </p>
  <p>
    <%= form.label :initial %><br>
    <%= form.number_field(:initial, step: 0.01) %>
  </p>
  <p>
    <%= form.label :reconciled_on %><br>
    <%= form.date_field :reconciled_on %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>
