<% if account.reconciled_on %>

  <% if account.reconciled_on == Date.today %>
    Today
  <% elsif account.reconciled_on > Date.today %>
    <%= time_ago_in_words(account.reconciled_on) %> from now
  <% else %>
    <%= time_ago_in_words(account.reconciled_on) %> ago
  <% end %>

<% else %>

  never

<% end %>
