<table>
  <tr>
    <th>Account</th>
    <th>Net activity</th>
  </tr>

  <% accounts.each do |account| %>
    <tr>
      <td><%= link_to account.name, account_path(account) %></td>

      <td class="amount
      <%= 'decrease' if (nets[account.id] < 0) %>">
        <%= number_to_currency(nets[account.id], unit: CURRENCY_SIGN) %>
      </td>
    </tr>
  <% end %>
</table>
