<h2>Balances</h2>

<h3>Non-retirement</h3>

<%= render 'balances_table', accounts: @non_retirement_accounts, balances: @balances %>

<h3>Retirement:</h3>

<%= render 'balances_table', accounts: @retirement_accounts, balances: @balances %>

<h3>Net worth:</h3>

<table>
  <tr>
    <th class="amount
      <%= 'decrease' if (@net_worth < 0) %>">
        <%= number_to_currency(@net_worth, unit: CURRENCY_SIGN) %>
    </th>
  <tr>
</table>
