<h2>Accounts</h2>

<%= render 'flash', key: :success %>

<p>
  <% if Mode.demo? %>
    <%= link_to 'Add new account', accounts_path,
      data: { confirm: 'Adding is not available in demo mode.' } %>
  <% else %>
    <%= link_to 'Add new account', new_account_path %>
  <% end %> |
  <%= link_to 'Download all', '/accounts.csv' %>
</p>

<div class="filter-area">
  <%= render 'transactions/dates' %>
</div>

<h3>Non-retirement:</h3>

<%= render 'activity_table', accounts: @non_retirement_accounts, nets: @nets %>

<h3>Retirement:</h3>

<%= render 'activity_table', accounts: @retirement_accounts, nets: @nets %>

<h3>External:</h3>

<%= render 'activity_table', accounts: @external_accounts, nets: @nets %>
