<h2>Account info</h2>

<%= render 'flash', key: :error %>

<%= render 'account' %>

<p>
  <%= link_to 'Previous', account_path(@account.previous) %> |
  <%= link_to 'Next', account_path(@account.next) %> |
  <% if Mode.demo? %>
    <%= link_to 'Edit', account_path(@account),
      data: {confirm: "Editing is not available in demo mode"} %> |
    <%= link_to 'Delete', account_path(@account),
      data: { confirm: 'Deleting is not available in demo mode' } %>
  <% else %>
    <%= link_to 'Edit', edit_account_path(@account) %> |
    <%= link_to 'Delete', account_path(@account), data: {
      turbo_method: :delete, turbo_confirm: 'Are you sure?'
    } %>
  <% end %>
</p>

<h3>Transactions involving this account</h3>

<%= render 'transactions/filters' %>

<%= render 'transactions/summary', content: [['Count', @count],
                                             ['Input', @input],
                                             ['Output', @output],
                                             ['Net', @net]] %>

<%= render 'transactions/table', account: @account %>
